apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: gbdraw
  annotations:
    run.googleapis.com/ingress: all
spec:
  template:
    metadata:
      annotations:
        run.googleapis.com/container-dependencies: '{"nginx":["gbdraw"]}'
    spec:
      containers:
      - name: nginx
        image: asia-northeast1-docker.pkg.dev/gbdraw/cloud-run-source-deploy/gbdraw-nginx:v1
        ports:
        - containerPort: 8080
          name: h2c
      - name: gbdraw
        # 最新のアプリイメージを指定
        image: asia-northeast1-docker.pkg.dev/gbdraw/cloud-run-source-deploy/gbdraw/gbdraw:latest
        env:
        - name: PORT
          value: "8501"
        startupProbe:
          httpGet:
            port: 8501
            path: /_stcore/health
          initialDelaySeconds: 10
          periodSeconds: 10
          failureThreshold: 5
